<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<!-- App Info -->
		<Parameter name="BaseUrl" value="https://www.saucedemo.com/" />
		<!-- Available Browsers: Chrome, Firefox,ChromeDocker, FirefoxDocker -->
		<Parameter name="Browser" value="Chrome" />
		<!-- Update this value as needed -->

		<!-- Additional browser options -->
		<Parameter name="BrowserOptions" value="--headless" />
		<!-- You can customize this value based on your needs -->
	</TestRunParameters>
</RunSettings>

